@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import '@angular/material/prebuilt-themes/azure-blue.css';

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

:root {
  --mdc-typography-body1-font-family: 'Poppins', sans-serif;
  --mdc-typography-body2-font-family: 'Poppins', sans-serif;
  --mdc-typography-subtitle1-font-family: 'Poppins', sans-serif;
  --mdc-typography-subtitle2-font-family: 'Poppins', sans-serif;
  --mdc-typography-button-font-family: 'Poppins', sans-serif;
}

.mat-mdc-form-field,
.mat-mdc-input-element,
.mat-mdc-select,
.mat-mdc-option,
.mat-toolbar,
.mat-toolbar *,
.mat-mdc-button,
.mdc-floating-label,
.mat-mdc-form-field-hint,
.mat-mdc-form-field-error {
  font-family: 'Poppins', sans-serif !important;
}
