:host {
  display: inline-block;
}

.main-button {
  --mdc-filled-button-container-color: #067e72;
  --mdc-filled-button-label-text-color: #fff;
  border-radius: 999px;
}

.main-button.large {
  min-height: 44px;
  min-width: 180px;
}
